.flex {
    width: 100%; height: 100px; background: rgb(143, 200, 233); display: flex; margin-top: 0px; justify-content: center; align-items: center;
    text-align: center;align-content: centers;
    
}
.flex a {text-decoration: none; color:#ffff;}
.flex :hover { background-color: black;}
.style1 { width: 100px; height: 50px; background: rgb(178, 143, 233);}
.style2 { width: 100px; height: 50px; background: rgb(38, 233, 119);}
.style3 { width: 100px; height: 50px; background: rgb(236, 151, 53);}
.flexcar {display: flex; flex-grow: 1;align-items :stretch; justify-content: center;}
.cartman { width: 750px; height: 500px; background-color: tomato;}
.cartmanimg {width: 750px;height: 500px; flex-grow: 1; text-align: center; display: flex; justify-content: center;}
.stan {width: 750px;height: 500px;background-color: turquoise;}
.flexstan {display: flex; flex-direction: row-reverse;}
.stanimg {width: 750px;height: 500px; flex-grow: 1;align-items :stretch}